<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    
	
	
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>NSEC.Save</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
	
	 <servlet>
        <servlet-name>SaveEdit</servlet-name>
        <servlet-class>NSEC.SaveEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveEdit</servlet-name>
        <url-pattern>/SaveEdit</url-pattern>
    </servlet-mapping>
	
	
    <servlet>
        <servlet-name>XMPPReceiverServlet</servlet-name>
        <servlet-class>NSEC.XMPPReceiverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XMPPReceiverServlet</servlet-name>
        <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>
	  
	
	
		<servlet>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<servlet-class>NSEC.CommonsFileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonsFileUploadServlet</servlet-name>
		<url-pattern>/Cs</url-pattern>
	</servlet-mapping>
	
	
	 <welcome-file-list>
        <welcome-file>SIGNIN.jsp</welcome-file>
    </welcome-file-list>
</web-app>
